.botão-google {
  background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-size: 528px 68px;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  background-position: -132px -38px;
}