html{
  font-family: arial, sans-serif;
}
.botão-google {
  background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-size: 528px 68px;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  background-position: -132px -38px;
  opacity: 0.55;
}
.botão-google:hover{
  opacity: 0.8;
}
.user-picture{
  border-radius: 50%;
}

#top-container{
  padding: 15px 25px;
  height: 30px;
  line-height: 30px;
  display:flex;
  justify-content: flex-end;
  font-size: 13px;
}
#top-container .top-container-item{
  padding-left: 15px;
}
#top-container .top-container-images-btn {
  padding-right: 15px;
}
#top-container a{
  color: black;
  text-decoration: none;
}
#top-container a:hover{
  text-decoration: underline;
}
#google-logo{
  display:flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
#search-div{
  margin: 12vh 0px;
  padding: 30px 0px;
}
.search-input{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#search-input-text:focus{
  outline: none;
}
#search-input-text{
  height: 40px;
  width: 350px;
  border: 1px solid rgb(206, 197, 197) ;
  border-left: none;
  border-right: none;
}
#search-icon-before{
  width: 40px;
  border: 1px solid rgb(206, 197, 197);
  border-radius: 25px 0px 0px 25px;
  border-right: none;
  display: flex;
  justify-items: center;
  align-items: center;
}
#search-icon-before img, #search-icon-after img{
  height: 15px;
  padding-left: 10px;
  opacity: 0.55;
}
#search-icon-after img{
  opacity: 1;
  height: 20px;
}
#search-icon-after{
  width: 40px;
  border: 1px solid rgb(206, 197, 197);
  border-radius: 0px 25px 25px 0px;
  border-left: none;
  display: flex;
  justify-items: center;
  align-items: center;
}
label{
  display: inline;
}
.search-buttons{
  text-align: center;
  padding: 30px;
}
.search-buttons button{
  margin-left: 20px;
  height: 35px;
  padding: 0 15px;
  font-size: 0.9rem;
  border: none;
  background-color: rgb(248, 249, 250);
}
.search-buttons button:hover{
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
}
#search-button-bottom-text{
  text-align: center;
  font-size: 13px;
}
#footer-bottom-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid rgb(155, 154, 154);
  padding: 0 25px;
}
#footer-bottom-flex a{
  color: black;
  text-decoration: none;
  margin-right: 10px;
}
#footer-bottom-flex a:hover{
  text-decoration: underline;
}
#footer-top{
  height: 40px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(155, 154, 154);
  border-bottom: 1px solid rgb(155, 154, 154);
  padding: 0 25px;
}
footer{
  background: rgba(0, 0, 0, 0.185);
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight:lighter;
  font-size: 15px;
  opacity: 0.5;
}
